* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(/MaterialIcons-Regular.woff) format("woff");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.todo {
  max-width: 300px;
  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.25);
}

.todo__heading {
  font-size: 24px;
  padding: 4px;
  margin-bottom: 16px;
}

.todo__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.text-input {
  border: 0px solid transparent;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
}

.text-input:focus {
  background-color: rgb(231, 236, 247);
}

.todo__input {
  font-size: 14px;
  border: 2px solid LightCyan;
  flex-basis: 70%;
  padding: 8px;
}

.btn {
  padding: 8px;
  font-weight: 500;
  border: 0 solid transparent;
  background-color: transparent;
  border-radius: 4px;
}

.todo__submit-input {
  flex-basis: 20%;
  padding: 0;
  line-height: 0;
}

.todo__submit-input i {
  color: rgb(85, 146, 24);
  font-size: 40px;
}

.todo__list {
  list-style: none;
}

.todo__title {
  display: inline-block;
  max-width: 150px;
  font-size: 14px;
  overflow-wrap: break-word;
  align-self: center;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  margin-bottom: 10px;
  border: 1px solid rgb(195, 216, 255);
  border-radius: 4px;
}

.todo__delete {
  padding: 4px;
  color: Crimson;
}

.todo__delete:disabled {
  color: white;
}

.todo__delete-all {
  margin-top: 10px;
  padding: 16px;
  font-size: 16px;
  color: snow;
  width: 100%;
  background-color: Crimson;
}

.todo__item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__hold-wrapper {
  display: block;
  padding: 4px;
}

.todo__hold-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.todo__hold {
  color: silver;
}

.todo__hold-input:checked + .todo__hold {
  color: DimGrey;
}

.untouchable {
  background-color: rgb(236, 236, 236);
}

.modal-message {
  position: absolute;
  width: 300px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  bottom: 10px;
  right: 0;
  left: 0;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: grey;
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
